@import "https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,900&display=swap";

* {
  font-family: "Roboto";
  margin: 0;
  box-sizing: border-box;
}

.MuiDateCalendar-root {
  height: auto;
  max-height: none;

  background-color: #fff9ff;
  border-radius: 8px;
}

.MuiPickersSlideTransition-root {
  min-height: 400px;
}
